{% extends 'base/base.html' %}

{% block title %}
{% endblock %}

{% block header %}
<div id="mainJumbotron" class="jumbotron">
    <h1 class="display-4 text-center">Welcome!</h1>
    <p class="lead text-center">This is the UI of our proposed LSTM Approach</p>
    <hr class="my-4">
    <p class="text-center">To try it, click on the next button:</p>
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
    </p>
</div>
{% endblock %}

{% block content %}
{% endblock %}