{% extends 'base/base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}">LSTM Proposed Approach</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
            </li>
            <li class="nav-item">
        </ul>
    </div>
</nav>
{% endblock %}

{% block title %}
{% endblock %}

{% block header %}
<div id="mainJumbotron" class="jumbotron">
    <h1 class="display-4 text-center">Predict</h1>
</div>
{% endblock %}

{% block content %}
<p id="instructions" class="text-center">Select the settings you would like to define:</p>

<div id="options">
    <p class="text-center"><b>Selected log: </b>{{ selectedLog }}</p>
    <p class="text-center"><b>Trained models:</b></p>
    <p class="text-center"><b>Post-processing technique: </b></p>
</div>

{% endblock %}

