#mainJumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
  
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

form { 
  margin: 0 auto; 
  width:250px;
}

.bodyParagraph {
  margin-left: 20px;
  margin-right: 20px;
}