form { 
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
}

iframe {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  display: block;
}

label {
  padding-right: 10px;
  font-weight: bold;
}

.bodyParagraph {
  margin-left: 20px;
  margin-right: 20px;
}

.clear { clear: both; height: 60px; }

#mainJumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
}

#aboutJumbotron {
  padding: 20px;
}

#instructions {
  padding-top: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

#options {
  padding-bottom: 20px;
}
